.miniLogo 
{
    background-image: url("../images/miniLogo.png");
    height: 50px;
    width: 150px;
    background-size: 115px;
    background-repeat: no-repeat;
    background-position: 8px;
}

.slideOne
{background-image: url("../images/banner1.png");}

.slideTwo
{background-image: url("../images/banner2.png");}

.slideThree
{background-image: url("../images/banner3.png");}

#communityIcon
{
  background-image: url("../images/communityIcon.png");
  height: 30px;
  width: 30px;
  position: absolute;
  margin-top: 3px;
  background-size: 30px;
}

#complementaryIcon
{
  background-image: url("../images/complementaryIcon.png");
  height: 30px;
  width: 30px;
  position: absolute;
  margin-top: 3px;
  background-size: 30px;
}

#clinicIcon
{
  background-image: url("../images/clinicIcon.png");
  height: 30px;
  width: 30px;
  position: absolute;
  margin-top: 3px;
  background-size: 30px; 
}

.h4fixed{margin-left: 45px;}

.breadcrumb a{color: #A2A2A2 !important;}
.breadcrumb a:hover{color: #dd331c !important;}
.breadcrumb .active {color: black !important;}